/* @theme test */

@import 'default';

img[src*='#center'] { 
    display: block;
    margin: auto;
}

section {
    font-family: "コーポレート・ロゴ ver2";
    font-size: 32px;
}

section.title h1 {
    color: black;
    font-family: "コーポレート・ロゴ ver2";
    font-size: 80px;
}

section.title {
    font-family: "コーポレート・ロゴ ver2";
    font-size: 70px;
    text-align: center;
    padding: 40px;
}

section.slides h1 {
    font-family: "コーポレート・ロゴ ver2";
    font-size: 42px;
    position: absolute;
    left: 50px; top: 70px;
}

section.yojijukugo h1 {
    color: black;
    font-size: 260px;
    text-align: center;
    padding: 40px;
}

section.jukugo h1 {
    color: black;
    font-size: 500px;
    text-align: center;
    padding: 40px;
}

section.sanmoji h1 {
    color: black;
    font-size: 330px;
    text-align: center;
    padding: 60px;
}
      
section.number h1 {
    color: black;
    font-size: 620px;
    position: absolute;
    padding: 40px;
}

section.tweet footer {
    font-family: "コーポレート・ロゴ ver2";
    text-align: center;
    left: 250px;
}